<section id="about" class="feature">
    <div class="row"
         data-bottom="transform:translateY(-5em)" data--100-bottom="transform:translateY(0)">
        <div class="large-12 columns social">
            <a rel="nofollow" href="https://www.facebook.com/Convergencr" target="_blank"><i class="icon-facebook-2" title="FaceBook discussion group" onclick="ga('send', 'event', 'social', 'facebook')"></i></a>
            <a rel="nofollow" href="https://www.linkedin.com/grp/home?gid=6748221&goback=%2Egmp_6748221" target="_blank"><i class="icon-linkedin-2" title="LinkedIn group" onclick="ga('send', 'event', 'social', 'LinkedIn')"></i></a>
            <a rel="nofollow" href="https://twitter.com/intent/tweet?url=twggn.github.io/converge&text=I+would+be+attending&hashtags=convergegurgaon" target="_blank" title="Tweet hashtag #convergegurgaon" onclick="ga('send', 'event', 'social', 'twitter')"><i class="icon-twitter-2"></i></a>
            <a rel="nofollow" href="mailto:converge.thoughtworks@gmail.com" title="Email us" onclick="ga('send', 'event', 'social', 'email')"><i class="icon-mail"></i></a>
            <!-- NOTE: Last video link is line-wrapping in small screens like iOS a rel="nofollow" href="#" title="Videos (coming soon)"><i class="icon-youtube"></i></a -->
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns" data-anchor-target="#_about">
          <%= @item[:about] %>
        </div>
    </div>
</section>
