<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-4 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
                <span>ThoughtWorks Technologies (India) Pvt Ltd</span>
                <span>6th Floor, Tower B, Bldg. 14</span>
                <span>DLF Cyber City Phase III</span>
				<span>Sector 24 & 25</span>
				<span>Gurgaon-122002 (Haryana)</span>
                <span><small><a href="https://www.google.com/maps/place/ThoughtWorks+Technologies/@28.497001,77.09438,17z/data=!3m1!4b1!4m2!3m1!1s0x390d1949d161d701:0xadd473b6ff8aed45?hl=en" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
            </p>
        </div>

        <div class="large-8 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <a href="https://www.google.com/maps/place/ThoughtWorks+Technologies/@28.497001,77.09438,17z/data=!3m1!4b1!4m2!3m1!1s0x390d1949d161d701:0xadd473b6ff8aed45?hl=en" target="_blank" rel="nofollow">
                <img src="./img/map.png" alt="Map" align="center" />
            </a>
        </div>
    </div>
</section>
